<?xml version="1.0" encoding="UTF-8"?>

<launch>
 
 <arg name="robot_name" value="samoyed"/>
 <arg name="bag_name" value="gq-sim-cars-1-kimera.bag"/>
 <arg name="bag_path" value="/media/kaveh/T7/data/Kimera2/"/>
 
 <arg name="bag_topics" 
    value="/samoyed/camera/camera_info 
    /samoyed/lidar_points 
    /samoyed/detection 
    /samoyed/detection_image 
    /samoyed/pose 
    /unity_command/ground_truth/samoyed/pose 
    /samoyed/tf 
    /samoyed/tf_static 
    /tf 
    /tf_static 
    /kimera_vio_ros/optimized_odometry"/>

 <node 
    pkg="rosbag"
    type="play"
    name="player"
    output="screen"
    args="$(arg bag_path)$(arg bag_name) --topics $(arg bag_topics)"> 
    <!-- args="$(arg bag_path)$(arg bag_name)"> -->
 </node>

 <!-- <remap from="/lidar_points" to="/$(arg robot_name)/lidar_points"/>
 <remap from="/detections" to="/$(arg robot_name)/detection"/>
 <remap from="/camera/camera_info" to="/$(arg robot_name)/camera/camera_info"/>
 <remap from="/pose" to="/unity_command/ground_truth/$(arg robot_name)/pose"/> -->


 <node pkg="clear" type="clear_ros" name="clear_ros" output="screen">
 <param name="agents" value="1"/>
 <!-- <remap from="/detections" to="/$(arg robot_name)/detection"/> -->
 <!-- <remap from="/pose" to="/unity_command/ground_truth/$(arg robot_name)/pose"/> -->
 </node>

 <node pkg="clear_adapter" type="lidar_camera_alignment" name="lidar_camera_alignment" output="screen">
 <remap from="/camera/camera_info" to="/$(arg robot_name)/camera/camera_info"/>
 <remap from="/lidar_points" to="/$(arg robot_name)/lidar_points"/>
 <remap from="/detection" to="/$(arg robot_name)/detection"/>
 </node>

 <node pkg="clear_adapter" type="clear_adapter" name="clear_adapter" output="screen">
 <remap from="/detections" to="/$(arg robot_name)/detection"/>
 <remap from="/pose" to="/unity_command/ground_truth/$(arg robot_name)/pose"/>
 <remap from="clear/landmarks" to="clear/landmarks_gt"/>
 </node>


 <!-- Open rviz visualization -->
 <!-- <node pkg="rviz" type="rviz" name="clear_rviz" args="-d $(env PWD)/launch/clear/clear.rviz" output="screen">
 </node> -->

</launch>




     