<?xml version="1.0" encoding="UTF-8"?>
<launch>
 
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
<!-- load clipper-aligner running on OrcVIO bags -->
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
<include file="$(find clipper)/launch/aligner_demo_sim.launch" />


<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
<!-- run clear fusion -->
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->

 <node pkg="clear" type="fuser" name="fuser" output="screen">
   <!-- set params -->
   <rosparam param="robots"> ["robot1", "robot2"]</rosparam>

   <param name="dist_tol" value="5"/>
 </node>


<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
<!-- visualization -->
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->

<!-- <node pkg="rviz" type="rviz" name="rviz_clear" args="-d $(find clear)/cfg/default.rviz" /> -->

</launch>




     